@model IEnumerable<AniProject.Models.Anime>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row col-sm-2 col-md-8 col-lg-12 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="anime-card">
                <div class="anime-photo"> <img src="https://th.bing.com/th/id/OIP.OkRQfBBMx5HuMOTBro7tGwHaEM?pid=ImgDet&rs=1" width="190" height="145" /></div>
                <div class="anime-data">
                    <h1 class="anime-name">@item.AnimeName</h1>
                    <p class="anime-description">@item.AnimeDescription/p>
                </div>
                <div class="edit">
                    <a href="https://www.w3schools.com/tags/tag_a.asp">
                        <img src="images/pen.png" width="30">
                    </a>
                </div>
            </div>
        }
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnimeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnimeDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AnimeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AnimeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AnimeId">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>
